/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* to animate in the x direction */
    /* - means goes to the left */
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    /* looks like right now; the final state */
    transform: translateY(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /* to animate in the x direction */
    /* - means goes to the left */
    /* can add this too ,rotate(-180deg) */
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    /* looks like right now; the final state */
    transform: translate(0); } }

/* opacity and transform can be used for animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* to animate in the x direction */
    /* - means goes to the left */
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    /* looks like right now; the final state */
    transform: translate(0); } }

/* universal reset */
*,
*::after,
*::before {
  /* will reset browser default margins */
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* to convert px to rem, 10 would be easy */
html {
  /* font-size:10px; */
  /* rems are not supported on internet explorer below 9 */
  /* 10 / 16 = 0.625 */
  font-size: 62.5%; }

body {
  /* borders and paddings are not added to the height */
  box-sizing: border-box; }

body {
  font-family: "Lato" , sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* determines if backface is hidden or visible to user */
  /* this is to fix the shaky animation heading */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /* look at MDN for other timing functions */
    /* slow and fast */
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

/* link is a pseudoclass, link is a state of btn */
/* for anchor element or a tag */
/* .btn:visited is another state */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  /* has to be on initial state */
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    /* we want the element to grow and fade out */
    transform: scaleX(1.4) scaleY(1.6);
    /* it will fade out to invisible */
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  /* 10 px is for the thickness of blur */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  /* always necessary to have content and display */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /* it needs a reference , it will find the first relative element which is the btn */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* initial state */
  transition: all .4s; }

.btn--animated {
  /* 0.75 is animation delay */
  animation: moveInBottom .5s ease-out .75;
  /* automatically applied the 0 percent propery before the animation starts */
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translate(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /* it will fit the element inside of the box */
  background-size: cover;
  /* could also use center */
  background-position: top;
  /* to cut part of the picture */
  /* x y , x y, x y */
  /* clip-path: polygon(0 0 , 100% 0 , 100% 200px , 0 100% ) */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* bennettfeely.com/clippy/ resource for polygon*/
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* .logo:hover{
    animation: moveInRight 3s ease-out;
} */
/* end of header */
