/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* universal reset */
*{
    /* will reset browser default margins */
    margin : 0;
    padding: 0;
    /* borders and paddings are not added to the height */
    box-sizing: border-box;
}

body{
    font-family : "Lato" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding : 30px;
}
.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,
     #7ed56faf ,
      #28b4858f), url(../img/hero.jpg);
    /* it will fit the element inside of the box */
    background-size: cover;
    /* could also use center */
    background-position: top;
    /* to cut part of the picture */
    /* x y , x y, x y */
    /* clip-path: polygon(0 0 , 100% 0 , 100% 200px , 0 100% ) */
    clip-path: polygon(0 0 , 100% 0 , 100% 75vh , 0 100% );
    /* bennettfeely.com/clippy/ resource for polygon*/ 

    position: relative;
}

.logo-box{
 position: absolute;
 top: 40px;
 left: 40px;
}

.logo{
 height: 35px;
}

/* .logo:hover{
    animation: moveInRight 3s ease-out;
} */

.heading-primary{
color: #fff;
text-transform: uppercase;
/* determines if backface is hidden or visible to user */
/* this is to fix the shaky animation heading */
backface-visibility: hidden;

margin-bottom: 60px;

}

.heading-primary-main{
display: block;
font-size: 60px;
font-weight: 400;
letter-spacing: 35px;

animation-name: moveInLeft;
animation-duration: 1s;
/* look at MDN for other timing functions */
/* slow and fast */
animation-timing-function: ease-out;

/* animation-delay: 3s; */
/* animation-iteration-count: 3; */

}
.heading-primary-sub{
display: block;
font-size: 20px;
font-weight: 400;
letter-spacing: 17.4px;
animation-name: moveInRight;
animation-duration: 1s;
animation-timing-function: ease-out;

}

.text-box{
    position: absolute;
    /* in relation to parent element */
    top: 40%;
    left: 50%;
    /* background-color: red; */

    /* in relation to the element itself */
    transform: translate(-50%,-50%);
    text-align:center;
}

/* opacity and transform can be used for animation */
@keyframes moveInLeft{
    0% {
    opacity : 0;
    /* to animate in the x direction */
    /* - means goes to the left */
    transform: translateX(-100px)
    }
    80%{
        transform: translateX(10px)

    }
    100%{
    opacity: 1;
    /* looks like right now; the final state */
    transform: translate(0)
    }
}


@keyframes moveInRight{
    0% {
    opacity : 0;
    /* to animate in the x direction */
    /* - means goes to the left */
    /* can add this too ,rotate(-180deg) */
    transform: translateX(100px)
    }
  
    80%{
        transform: translateX(-10px)

    }
    100%{
    opacity: 1;
    /* looks like right now; the final state */
    transform: translate(0)
    }
}

/* link is a pseudoclass, link is a state of btn */
/* for anchor element or a tag */
/* .btn:visited is another state */
.btn:link, .btn:visited{
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px ;
display: inline-block;
border-radius: 100px;
transition
}

.btn-white{
    background-color: #fff ;
    color: #777 ;
}

.btn:hover{
    transform: translate(-3px)
}
.btn:active{
    transform: translate(-1px)
}