@mixin clearfix{
    &::after {
        content:"";
        display: table;
        clear: both;

    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

/*
MEDIA QUERY MANAGER
0-600px;     phone
600-900px;   Tablet portrait
900-1200px;  Tablet landscape
[1200 -1800] is where our normal styles apply
1800px+      Big desktop
*/

/*
could add this to the element in html in base.scss but too much work
@media (max-width:600px){
    font-size: 50%;
}
@media (max-width: 900px){
    font-size: 50%;
}
*/

// content helps to add code in the mixin
// @mixin respond-phone {
//     @media (max-width: 600px) {@content};
// }


/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content};  //600px   //600/16
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {@content}; //900px   //900/16
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {@content};    //1200px  //1200/16
    }
    @if $breakpoint == big-desktop{
        @media only screen and(min-width: 112.5em) {@content}; //1800px  //1800/16
    }
}


// ORDER: Base + typography > general layout + grid > page layout > components