


/* universal reset */
*,
*::after,
*::before{
    /* will reset browser default margins */
    margin : 0;
    padding: 0;
    box-sizing: inherit;

}

/* to convert px to rem, 10 would be easy */
html{
    /* font-size:10px; */
    /* rems are not supported on internet explorer below 9 */
    /* 10 / 16 = 0.625 */
    // 1rem = 10px defines what 1 rem is
    font-size: 62.5% ;
}

body{
    // font-family : "Lato" , sans-serif;
    // font-weight: 400;
    // /* font-size: 16px; */
    // line-height: 1.7;
    // color: #777;
    // padding : 3rem;

     /* borders and paddings are not added to the height */
    box-sizing: border-box;
}